input.input-error,
select.input-error {
    border-color: #fc8181;
}

.reserve-nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.form-container {
    max-width: 420px;
    margin: auto;
    padding: 2rem 2rem;
    border: 4px solid var(--primary-green);
    border-radius: 1rem;
    position: relative;
}

.error-container {
    font-size: 0.6rem;
    color: #fc8181;
}

.book-input {
    border: 1px solid var(--primary-green);
    color: black;
    border-radius: 8px;
    height: 30px;
    width: 100%;
    padding: 3px 0 3px 11px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-9 {
    margin-bottom: 9px;
}

.mt-24 {
    margin-top: 24px;
}

.date,
.time {
    height: 35px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

.time {
    width: 72px;
    float: right;
}


.date {
    position: relative;
    width: 185px;
    color: white;
}

.date::before {
    position: absolute;
    top: 15%;
    left: 15%;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

.date-time-picker {
    display: inline-flex;
    margin: auto;
    padding: auto;
    text-align: center;
}


.date::-webkit-datetime-edit,
.date::-webkit-inner-spin-button,
.date::-webkit-clear-button {
    display: none;
}

.date::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 7px;
    right: 6px;
    color: black;
    opacity: 1;
}