.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Poppins', sans-serif; */
    margin: auto;
    background-color: #efefef;
}

.footer-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer-elements li {
    margin: 1rem 1rem;
}

.footer-elements ul button {
    text-align: center;
    background: none;
    cursor: pointer;
    border: none;
    font-weight: 500;
}