
.main-container {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr 1fr 0.75fr;
    background-color: white;
    gap: 4rem;
    /* overflow-x: auto; */
}


.specials-header {
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: white;
    grid-column: 1/ span 2;
    text-align: left;
    line-height: 2.5rem;
}

.specials-header {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}

.card-title {
    font-size: 18pt;
    font-weight: bold;
}


img[class|="chakra"] {
    width: auto;
    height: 300px;
    /* max-height: 250px; */
    position: relative;
    top: -1rem;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


@media (max-width: 750px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .main-container {
        display: grid;
        /* grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column; */
        grid-template-columns: auto;
        /* grid-template-rows: 1fr min-content min-content min-content 1fr; */
        /* background-color: white; */
        /* gap: 4rem; */
        /* overflow: scroll; */
        overflow-x: auto;
    }

    img[class|="chakra"] {
        width: auto;
        height: 30rem;
        /* max-height: 250px; */
        position: relative;
        top: -1rem;
        object-fit: cover;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

}



